body {
  display: flex;
  height: 100vh;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-image: url("/landscape.jpg");
}

.background-img {
  background-image: url("../img/mitchell-luo-FWoq_ldWlNQ-unsplash.jpg");
}

.main {
  flex-grow: 1;
  margin: 25px;
  border: 3px white solid;
  padding-top: 300px;
  padding-bottom: 300px;
}

.quote-container {
  align-items: center;
  justify-items: center;
}

#quote {
  color: white;
  font-size: 2.5em;
}

q::before {
  font-size: 100px;
}

q::after {
  font-size: 100px;
}

#author {
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 725px) {
  .main {
    padding-top: 400px;
  }

  #quote {
    font-size: 1.5em;
  }

  q::before {
    font-size: xx-large;
  }

  q::after {
    font-size: xx-large;
  }

  #author {
    font-size: 1em;
  }
}
